

#contact_form {
    width: 300px;
    margin-bottom: 40px;
    padding: 0;
}

#contact_form form {
    margin: 0px;
    padding: 0px;
}

    #contact_form form .input_field {
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        background: white;
        color: #808b98;
        border: 1px solid black;
        width: 270px;
    }

    #contact_form form label {
        display: block;
        width: 100px;
        margin-right: 120px;
        font-size: 11px;
        
    }

    #contact_form form textarea {
        font-family: Arial, Helvetica, sans-serif;
        width: 270px;
        height: 200px;
        padding: 5px;
        color: white;
        background: #fff;
        border: 1px solid #dedede;
    }

    #contact_form form .submit_btn {
        display: block;
        padding: 5px 12px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        background-color: white;
        border: 1px solid #fff;
        color: white;
        font-size: 11px;
        cursor: pointer;
    }




#map {
    width: 100%;
    height: 100%;
}




.CtnRight {
    padding: 10px 10px 20px 10px;
    background-color: whitesmoke;
    width: 47%;
    height: 300px;
    float: right;
    margin: 0 0 10px 0;
    color: black;
    overflow: auto;
    border: 1px solid black;
}




.CtnLeft {
    padding: 10px 10px 20px 10px;
    background-color: whitesmoke;
    width: 47%;
    height: 300px;
    float: left;
    margin: 0 0 10px 0;
    color: black;
    overflow: auto;
    border: 1px solid black;
}




