
/************************************************************************************
Product Page
*************************************************************************************/

.single-item {
    align-content: center;
    height: 540px;
    width: 560px;
    border: solid 6px #fff;
    border-radius: 10px;
    background: #f5f5f5;
    box-shadow: 0 30px 20px -20px rgba(0,0,0,0.3);
    box-sizing: border-box;


.left-set, .right-set{
    position: relative;
    width: 50%;
    height: 100%;
}

.left-set {
    float: left;
    overflow: hidden;
}

img {
    align-content: center;
    height: 50%;
    width: 50%;
}

.right-set {
    float: right;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.name {
    font-weight: bold;
}

.name {
    font-size: 1.4rem;
    line-height: 2rem;
}



.price {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
}

.description p {
    font-size: 0.9rem;
    text-align: justify;
    hyphens: auto;
}



button {
    width: 100%;
    height: 2rem;
    cursor: pointer;
    background: none;
    border: solid 2px #111;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    transition: all 0.4s ease;
}

    button:hover {
        background: #70e1f5;
    }
