body {
    color: #574c3f;
    font-family: Corbel, Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: lavender;
    
}

#wrapper {
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
    background-color: white;
    border: 1px solid black;
    height: 100%;
}



    #banner img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
       
    }


.ImageSize {
   height:200px;
   width:200px;
}

#nav li {
    float: left;
    display: block;
    margin-left: 50px;
    margin-top: 15px;
    text-transform: uppercase;
    padding: 0 38px 0 50px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    text-align:center;
}

#nav li {color:azure;
}

    #nav a:link, #na a :visited, #nav a:active {
        display: block;
        color: #574c3f;
        text-decoration: none;
    }

    #nav a:hover {
        background-color: white;
    }



#content {
    margin-top: 30px;
    padding: 20px;
    min-height: 400px;
}

.BoxFooter {
    width: 100%;
    text-align: center;
    background-color: white;
    margin: 2% 0;
    clear: both;
    padding: 0;
}